
:root{
    --the-primary-color:#3c5638;
    --primary-color: #5B7B57;
    --color-shade2: #6A8E66;
    --color-shade3: #8FAB98;
    --color-shade4: #BFD0C1;
    --color-shade5: #E4E2CF;
    --color-shade6: #ECEAE4;
    --title-font: "DM Serif Text", serif;
    --text-font:"Open Sans", serif;

}

*{
    padding: 0;
    margin: 0;

    font-family: var(--text-font);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 100%;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px;
}

@media only screen and (min-width: 1160px){

    
  header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;

    background-color: var(--the-primary-color);
    color: white;
    box-shadow: rgba(16, 4, 66, 0.16) 0px 3px 6px, rgba(13, 6, 53, 0.23) 0px 3px 6px;
    z-index: 1;
    position: relative;
/*     border: 3px solid red;
*/}

header div{
    width: 50%;
    display: flex;
}


#buttonMenu{
    display: none;
}

nav{
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    

    margin-left:150px;

    width: 100%;
}

    nav a{
        display: flex;
        min-width: 180px;
        color: white;
        font-size: 1.2rem;
        justify-content: center;
        align-items: center;
        height: 70px;
        


        text-decoration: none;

    }

    nav a:hover{
        background-color: var(--primary-color);
        color: var(--color-shade5);
    }

        /* hero styling */
    #homeHero{
        display: grid;
        grid-template-columns: 1fr 1fr;

       
    }

    #homeHero h1{
        grid-column: 1/2;

        margin: 100px;
        font-family: var(--title-font);
        font-size: 5rem;
        color: white;
        box-shadow: black;

    }

   
    .container{

        display: grid;
        grid-template-columns: 2fr 1fr;
    
    }

    #joinForm{
        grid-column: 1/2;
    }


    #heroform{
        position: relative;
        
    }

    form{     
        
        
        width: 400px;
        height: fit-content;
        background-color: rgb(98, 142, 98, 0.5);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


        /* display: flex;
        flex-direction: column; */
        justify-self: center;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 70px 1fr;

        justify-items: center;
       
        padding: 20px;
    }

    form fieldset{
        padding: 10px 0 0 0;
        margin: 0px auto;
        border: none;
        max-width: 100%;
        width: 370px;
        height: fit-content;
    }

    form h1 {
        font-size: 1.8rem;
    }
    
    form p {
        margin-bottom: 20px;
        font-size: 1rem;
        color: #555;
    }

    .visits {
        margin-bottom: 15px;
    }
    
    label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    form legend{
        font-family: var(--title-font);
        font-size: 2rem;
        color: white;
        font-size: 1.5rem;
    }

    form input{
        color: var(--the-primary-color);
        height: 50px;
        max-width: 100%;
        width: 100%;
        margin: 0px;
        padding: 10px 0 10px 10px;
    }

    form select{
        color: var(--the-primary-color);
        height: 50px;
        max-width: 100%;
        width: 100%;
        margin: 0px;
        padding: 10px 0 10px 10px;
    }

    #joinButton{
        padding: 10px;
        margin-top: 15px;
        width: 380px;
        max-width: 100%;

        display: grid;
        justify-items: center;

        height: 50px;
        
    }

    .form-label{
        width: 400px;
    }

    .form-input{
        width: 400px;
    }

    /* Banner */
    
    .modal-content{
        width: 80%;
        max-width: 900px;
    }



    /* weather card styling */
    #placeArea{
        display: grid;
        grid-template-columns: 1fr 1fr;

        padding: 50px;
    }

    .spotlights{
        grid-column: 1/2;
        grid-row: 1/2;

        padding: 50px;
    }

    #weatherCard{
        grid-column: 2/3;
        grid-row: 1/2;
        height: 300px;
        padding: 50px;
    }

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr;

        align-items: center;
    }

    .row1, .row2{
        padding: 30px;
    }

    .row1Title{
        font-size: 2rem;
    }

    .row1 button{
        width: 60%;
    }



    /* Discover Page Main styling */

    #discoverMain{
        width: 100%;
        display: grid;
        grid-template: 150px 1fr/3fr 1fr;
    }

    #discoverMain h1{
        align-self: center;
    }

    .pictures{
        width: 80%;
        margin-bottom: 80px;
    }

    .pictures figure img{
        width: 100%;
        height: auto;
        transition: transform 0.3s ease, filter 0.3s ease;
        cursor: pointer;
    }

    .pictures figure img:hover{
        transform: scale(1.008);
        filter: brightness(1.15);
        border-radius: 5px;
    }

    .visits, #otherInfo{
        margin: 20px 50px 20px 0;
    }


    /* Directory Page */

    #directory-main{
        padding: 50px 55px 0;
        
    }

    #list-container{
        
        min-width: 1160px;
        margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #members-container{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-rows: 100px 100px 1fr;
        justify-content: left;

        
    }

    #members-title{
        grid-row: 1/2;
        margin-bottom: 0px;
        align-content: center;
    }

    #buttons-container{
        grid-row: 2/3;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        margin: 0;
        border: none;
        padding: 0.5rem;
        background-color: white;
        text-align: center;
        
        
    }

    .buttonoption{
        display: flex;
        width: 100px;
        max-width: 100%;
        height: 60px;
        justify-content: center;
        margin-right: 10px;
    }

    .grid{
        display: flex;
        
    }

    .list{

    }

    


}