*{
    margin: 0;
    padding: 0;
}

:root{

    --primar-color:rgb(0, 37, 67);
    --secondar-color: rgb(12, 138, 184);
    --highlight-color: rgb(224, 224, 224);
    --highlightwo-color: rgb(20, 74, 118);

    
    --text-font:"Open Sans", sans-serif;
}

body{
    font-family: var(--text-font);
}




@media screen and (min-width:728px){

body{
    background-color: var(--highlightwo-color);
}


header{
    background-color: var(--primar-color);
    color: white;
    /* max-width: 100%; */
    width: 100%;
    height: 150px;

    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: var(--title-font);
    font-size: 2rem;
}

header span{
    display: block;
}

header p{
    display: block;
    font-size: 1rem;
    margin: 10px;
}

header a{
    color: white;
    text-decoration: none;
}


main{
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-template-rows: 200px auto;
    justify-items: center;
}

.hero{
    grid-column: 1/4;
}

#formbody{
    grid-column: 2/3;

    
    background-color: var(--highlightwo-color);

    margin: 50px;
    padding: 20px 50px;

    color: white;

}





}

@media screen and (max-width:727px){

    body{
        background-color: var(--highlightwo-color);
    }
    
    
    header{
        background-color: var(--primar-color);
        color: white;
        /* max-width: 100%; */
        width: 100%;
        height: 150px;
    
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        font-family: var(--title-font);
        font-size: 2rem;
    }

    
header span{
    display: block;
}

header p{
    display: block;
    font-size: 1rem;
    margin: 10px;
}

header a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
    
    main{
        height: fit-content;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        
        justify-items: center;
    }
    
    .hero{
        grid-column: 1/4;
    }
    
    #formbody{
        grid-column: 2/3;
    
        
        background-color: var(--highlightwo-color);
    
        margin: 50px;
        padding: 20px 50px;

        color: white;
    
    }
    
    

}